

body {
    background-color: #ffffff;
}

.container {
    padding: 100px;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
    line-height: 20px;
    word-spacing: 5px;
    letter-spacing: 1px;
    
}

.cursor {
    display: inline-block;
    width: 3px;
    background-color: black;
    margin-left: 5px;
    animation: blink 1s infinite;

}

@keyframes blink {
    0% {background-color: black;}
    49% {background-color: black;}
    50% {background-color: transparent;}
    99% {background-color: transparent;}
    100% {background-color: black;}
}